<footer class="mb-3" style="background-color: #c9d6df;">
    <section id="Contact" style="background-color: #c9d6df;">
      <footer class="text-center text-white footer">
        <div class="container pt-4">
          <section class="mb-4">
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i class="fa fa-google" aria-hidden="true"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i class="fa fa-github" aria-hidden="true"></i></a>
            <section class="">
              <form action="">
                <div class="row d-flex justify-content-center">
                  <div class="col-auto">
                    <p class="pt-2" style="color:black">
                      <strong>Sign up for our newsletter</strong>
                    </p>
                  </div>
                  <div class="col-md-5 col-12">

                    <div class="form-outline form-black mb-4">
                      <input type="email" id="form5Example2" class="form-control" />
                    </div>
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-outline-dark mb-4">
                      Subscribe
                    </button>
                  </div>
                </div>
              </form>
            </section>
          </section>
          <section class="">
            <div class="row">
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="color:black;">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-dark"><i class="fab fa-linkedin-in"></i> <strong> Binary#404</strong> </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="color:black;">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-dark"><i class="fas fa-phone-alt"></i> <strong> +91 985-421-8523</strong></a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="color:black;">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-dark"><i class="fas fa-envelope"></i> <strong> biz.binary404@gmail.com</strong> </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="color:black;">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-dark"><i class="fas fa-map-marker-alt"></i> <strong> Bhubaneswar, India</strong></a>
                  </li>
                </ul>
              </div>
            </div>
      </footer>
    </section>
  </footer>